.name {
  font-family: 'Handlee', cursive;
}

.javascript-powerlifting {
  float: left;
  text-align: center;
}

img.barbell {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;

}

#powerlifting-img-container {
  float: left;
  position: absolute;
  z-index: 1;
  height: auto;
  width: 60%;
  margin-left: 5%;
  margin-top: 1%;
  display: inline-block;
  overflow: hidden;s
}

#powerlifting-about {
  position: fixed;
  z-index: 1;
  float: right;
  margin-left: 65%;
  margin-top: 3%;
  height: 20%;
  width: 25%;
  text-align: center;
  color: white;
}

#powerlifting-about-spacing {
  margin-top: 3%;
}

.powerlifting-content-img {
  position: relative;
  z-index: 1;
  margin: auto;
  height: 20%;
  width: 20%;
  margin-right: 2%;
  margin-top: 2%;
}

.powerlifting-content-img:hover {
    position: relative;
    width: 50%px;
    height:auto;
    display:block;
    z-index:4;
}
