.name {
  font-family: 'Handlee', cursive;
}

.javascript-powerlifting {
  float: left;
  text-align: center;
}

img.barbell {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
